/*Header*/
.header {
  border-bottom: 1px solid #ececec;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 93px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  text-decoration: none;
  color: var(--hover-text-color);
  letter-spacing: 0.03em;

  &__logo-part {
    color: var(--logo-color);
  }
}

.wrapper {
  padding: 24px 0 25px;
}
.menu {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 0;
  margin: 0;
}
.menu__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--color-text-primary);
  display: block;
  padding: 32px 0;
  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--hover-text-color);
  }

  &--current {
    color: var(--hover-text-color);
  }

  &--current::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--hover-text-color);
    content: "";
  }
}
.list-contact {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 0;
}
.list-contact__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  display: block;
  padding: 32px 0;
  color: var(--color-text-secondary);
  text-decoration: none;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  fill: var(--color-text-secondary);
  transition: color 250ms var(--timing-function),
    fill 250ms var(--timing-function);

  &:hover,
  &:focus {
    fill: var(--hover-text-color);
    color: var(--hover-text-color);
  }
}
