.visually-hidden {
  @include visually-hidden;
  }
  .container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
  }
.btn {
    
    cursor: pointer;
    font-family: inherit;
    border-radius: 4px;
    border: 0;
}